<IfModule mod_rewrite.c>
RewriteEngine On

# If requested resource is not a file or directory then redirect to /
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . / [L,R=302]

</IfModule>